/*============ UNIVERSIAL & RESUSABLE STYLES ===========*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.theme-default {
    background-color: #F0EDCC;
    color: #024d4a;
    /*color: #2c365e;
    background-color: #e7e6f7;*/
}
.theme-default-opposite {
    color: #F0EDCC;
    background-color: #024d4a;
}
body {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
    font-family: Avenir, sans-serif;
    overflow-x: hidden;
}
@media only screen and (min-width: 1251px) {
    body {
        width: 60%;
    }
}
@media screen and (max-width: 1250px) and (min-width: 951px) {
    body {
        width: 80%;
    }
}
@media only screen and (max-width: 950px) and (min-width: 50px) {
    body {
        width: 90%;
    }
}
h1 {
    text-transform: uppercase;
}
.h1_header {
    padding: 50px 0px;
}
h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
}
section {
    margin-top: 30px;
    margin-bottom: 30px;
}
.grid-1-2  {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
}
@media only screen and (max-width: 845px) {
    .grid-1-2 {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    h3 {
        margin-top: 20px;
    }
}
hr.solid {
    border-top: 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
i {
    font-size: 4rem;
}
li {
    margin-left: 40px;
}
ul {
    margin-top: 10px;
}
.button {
    border: 1px solid;
    border-radius: 50px;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    display: inline;
    transition: all .2s;
    text-align: center;
}
@media only screen and (max-width: 845px) {
    .button {
        display: block;
        margin: 5px 0;
    }
}
.button:hover {
    font-size: 1.1rem;
}
div.dark, a.dark, .dark {
    background-color: #024d4a;
    color:#F0EDCC;
    border: 1px solid #024d4a;
}

/*============ HEADER ===========*/
.logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0px;
    margin-bottom: 10px;
}
header li {
    display: inline;
    font-weight: bold;
}
header li:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: #024d4a;
}

/*============ HP - INTRO ==============*/
.about-me {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}
@media only screen and (max-width: 1400px) {
    .about-me {
        margin-top: 80px;
    }
}
.profile-pic {
    max-width: 300px;
    border-radius: 50px;
}
.signature {
    width: 400px;
}
@media only screen and (max-width: 845px) {
    .signature {
        width: 300px;
    }
}

/*============= RECENT WORK ===============*/
.proj-img-div {
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    height: 250px;
    min-width: 250px;
}
.flex-box-proj {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border: 2px solid;
    border-radius: 50px;
    min-height: 350px;
    padding: 50px;
    width: 100%;
    margin: 0 auto;
}
@media only screen and (max-width: 845px) {
    .flex-box-proj {
        flex-wrap: wrap-reverse;
        justify-content: center;
        padding: 25px;
    }
}
.travel-client-img {
    background-image: url(./images/cosmos.jpg);
}
.color-picker-img {
    background-image: url(./images/website-theme-changer.png);
}
.mold-client-img {
    background-image: url(./images/safer-home-services.png);
}
.random-message-img {
    background-image: url(./images/random-message-proj.jpg);
}
@media only screen and (max-width: 845px) {
    .proj-img-div {
        width: 100%;
    }
}
.proj-img {
    width: 300px;
    height: 225px;
    border-radius: 50px;
}
.proj-img-full {
    width: 100%;
    height: auto;
    border-radius: 50px;
}
@media only screen and (min-width: 845px) {
    .proj-desc {
        margin-right: 20px;
    }
}
.right {
    float: right;
    margin-left: 20px;
}
.left {
    float: left;
    margin-right: 20px;
}
.icon-list {
    display: flex;
    justify-content: space-between;
}

/*============== CONTACT =================*/
.contact-box {
    border: 2px solid;
    border-radius: 50px;
    padding: 30px;
    min-height: 300px;
    align-content: center;
    width: 100%;
    margin: 10px;
}
.contact {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 auto;
}
@media only screen and (max-width: 845px) {
    .contact {
        flex-wrap: wrap;
    }
    .contact-box {
        padding: 30px 5px;
    }
}
@media only screen and (min-width: 845px) {
    .second-contact {
        margin-top: 50px;
    }
}
.fa-linkedin {
    margin-right: 20px;
}
a > i {
    transition: transform .2s;
}
a > i:hover {
    transform: scale(1.2);
}

/*============= FOOTER =============*/
footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*============= POP UP =============*/
.container {
    height: 100%;
    width: 100%;
}
.open-btn {
    font-size: 1rem;
    font-family: Avenir, sans-serif;
    cursor: pointer;
    float: right;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: none;
}
.popup-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
}
.main-popup {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35%;
    width: 16%;
    z-index: 1;
    padding: 4rem 1rem;
    line-height: 1rem;
    display: flex;
    transform: translateX(100%);
    font-family: Avenir, sans-serif;
}
.main-popup span {
    font-size: 1.2rem;
    line-height: 3rem;
}
@media screen and (max-width: 1250px) and (min-width: 100px) {
    .main-popup {
        width: 100%;
    }
}
.close-btn {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    transition: .5s ease all;
}
span.close-btn {
    font-size: 1rem;
}
.close-btn i {
    font-size: 1.5rem;
    margin-right: 10px;
}
.close-btn:hover {
    color: white;
}
@keyframes slide-in {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slide-out {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}
.dark-mode {
}
.color-button {
    cursor: pointer;
}
.color-button i {
    font-size: 2rem;
    margin-right: 10px;
}


/*======== ICON CAROUSEL ==========*/
.skills {
    overflow-wrap: normal;
}
.skills-slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*width: calc(4rem * 24);*/
}
.skills-slider i {
    margin: 3rem;
    text-align: center;
    /*animation: 10s slider infinite linear;*/
}
@media only screen and (max-width: 1000px) {
    .skills-slider i {
        margin: 1.2rem;
    }
}
.skills-text {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    font-family: Avenir, sans-serif;
}
/*@keyframes slider {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-4rem * 24));
    }
}




/* Slideshow container
.slideshow-container {
    /*max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default
  .mySlides {
    display: none;
  }
  
  /* Caption text
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* images
  .darken-img {
    border-radius: 50px;
  }
  /* Fading animation
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


RED:
dark: #FFDFB9;
light: #A4193D;

DARK GREEN:
dark: #F0EDCC;
light: #024d4a;

BLACK:
dark: #000;
light: #fff;

COFFEE:
dark: #755139;
light: #F2EDD7;

ORANGE:
dark: #F95700;
light: #fff;

NEON GREEN: 
dark: #9FC131;
light: #EEDFE2

BLUE: 
dark: #2E3C7E;
light: #FBEAEB;
*/